/* -------common code start here ------------*/
  :root {
    --primary-color:rgb(11, 181, 48);
    --secondary-color:rgba(36, 122, 55, 0.9);
    --padding:0.5rem;
    --border-radius:0.6rem;
    --transition: all 0.3s;
    --box-shadow:0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.5);
  }

*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: century gothic;
  }

  html{
    scroll-behavior: smooth;
  }
  img{
    width: 100%;
    height: auto;
  }

  .flex-center{
    display: flex;
  justify-content: center;
  align-items: center
}
  
.flax-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center
}

.btn{
  border: none;
  padding: var(--padding);
  cursor: pointer;
  text-transform: uppercase;
  transition: var(--transition);
  background-color: rgb(190, 183, 179);
}
.btn:hover{
   background-color:  rgb(212, 15, 15);
}
 .card{
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  transition: var(--transition);
  padding: var(--padding);
 }

 .card:hover{
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202,202,1);
 }

 .hr-design{
  margin: 0.5rem 0;
 }

 .dot{
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  display: inline-block;
 }
 .red{
  background-color: red;
 }
 .green{
  background-color: green;
 }

 .black{
  background-color: black;
 }
 .text-center{
  text-align: center;
 }

 .section-title{
  font-size: 2rem;
 }
/*------------------ common code End here---------- */

/* --------------------nav start here ------------------------*/
#menu-icon{
  display: none;
}
nav{
  font-family: century gothic;
  font-size: 1.2rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

}

.nav_upper{
  min-height: 10vh;
  background-color: var(--primary-color);
  padding: 1rem 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_list{
  transition: var(--transition);
}
.nav_list:hover{
  text-decoration: overline;
  color: black;
}
.nav-link{
  color: white;
  transition: var(--transition);

}

.nav-link:hover{
  color: black;
}

.profile-icon{
  width: 3rem;
  height: 3rem;
  border-radius:  50%;
  border: white 1px solid;
  filter: saturate(0);
  transition:var(--transition) ;
}
.profile-icon:hover{
  filter: saturate(1);
}

.nav-lower{
  min-height: 10vh;
  background-color: var(--secondary-color);
  font-weight: bolder;
}
.nav_brand{
  font-size: 2rem;
}
/* ---------nav end here------------------------------ */


/*------------- header start here--------- */
  .header{
    padding: 4rem 0;
    height: 80vh;
    background: url(img/bgimg.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
     position: relative;

  }
.banner{
  width: 100%;
  height: 100%;
  flex-direction: column;

}

.banner_title{
  font-size: 4rem;
  color: yellow;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.features{
  width: 100%;
  position: absolute;
  bottom: 150px;
}

.feature{
  background-color: rgba(80, 160, 78,0.7);
  color: white;
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 15rem;
  flex-direction: column;
  gap: 1rem;
  
   
}
/*------------------- header close here--------- */

 /*--------------------- main start here------------------------ */
 main{
  padding: 4rem 0;
  min-height: 80vh;
 }
 .sidebar{
  flex: 1;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-self: flex-start;

 }

 .main-contain{
  flex: 3;
  padding: var(--padding); 
 }
.action_sort select{
  padding: var(--padding);
}

.action_search input{
  padding: var(--padding);
  width: 15rem;
}


.action_search button{
  margin-left: -0.3rem;
  border: 1px solid;
  padding: 0.55rem;
}

.products{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}
.product{
  position: relative;
}
.badge{
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  color: white;
  padding: 3px 8px;
  text-align: center;
  border-radius: var(--border-radius);
  z-index: 10;
}

.product_img{
  width: 100%;
  height: 15rem;
  filter: var(--transition);
}

.product_img:hover{
  filter: saturate(1);
}

.product_body{
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Learn-More{
  color: green;
}

/*-------------- pagination start here------------ */
   .paiganation{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .paiganation_btn{
    border-width: 1px 1px 1px 0;
    border-style: solid;
   }

   .paiganation_btn:first-child {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
   }
/*------------- pagination close here------------ */

/*----------------- product details starts here------ */
  .product_details-left{
    flex: 1;

  }

   .product_details-left img{
    height: 20rem;
    width: 30rem;

  }

   .product_details-right{
    flex: 1;
    display: flex;
    flex-direction:column ;
    gap: 0.5rem;

  }
/*----------------- product details close here------ */

/*--------------------- card design start here------------*/
    .cart{
     padding: var(--padding);
      gap: 1rem;
    }
    .cart .card{
      margin-bottom: 1rem;
    }
    

    .cart_items{
      flex: 1;
    }
     .cart_items-action {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
     }
      .cart_item input{
          flex: 0.1;
      }
   
      .cart_item-img{
        flex: 0.2;
        width: 15rem;
        height: 10rem;
      }
    .cart_item-description{
      flex: 0.4;

    }

    .cart_item-shipping{
      margin-top: 0.5rem;
      color: red;

    }

    .cart_item-action{
      flex: 0.2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    .cart_payment{
      flex: 1;
    }

    .cart_payment-summary > div {
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin: 1rem 0;
    }

     .cart_payment-btn{
      width: 100%;
     }

     .cart_payment-methods > h2 {
      text-align: center;
      margin-bottom: 1rem;
     }

    .cart_payment-methods > div {
      text-align: center;
      justify-content:center;
      align-items: center;
      gap: 1re;

     }



/*--------------------- card design close here------------*/

/* -----------------register and login start here------------------*/
.register, .login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: 60vh;

}

.register .card, .login .card{
  width: 45rem;
}

.form{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem ;
}
.form-control label {
  flex: 0.1;
  text-align: left;
}

.form-control input, textarea{
  flex: 0.9;
  padding:var(--padding);
  border: 1px solid;
  resize: none;
}

.form-control textarea {
  resize: none;
  height: 12vh;

}

.form-btn-field{
  border-radius: var(--border-radius);
}
.contact-btn{
  width: 30%;
}


/* -----------------register and login close here------------------*/

/* -----------------Profile  close here------------------*/
    .profile{
      flex-direction: column;
      gap: 3rem;

    } 

    .profile .card {
      padding: var(--padding);
      width: 30rem;
      flex-direction: column;
      gap:  1rem;
    }

    .profile_img{
      width: 15vw;
      border-radius: 50%;
      border: 1px solid;

    } 




/* ----------------- Profile close here------------------*/





  /*-------------------- main close here------------------------ */
 /*------------ footer start here---------- */
.footer{
  padding: 1rem;
  background-color: var(--primary-color);
  min-height: 10vh;
  color: white;
  font-size: 1.1rem;
}

.btn-subscribe{
  margin-left: -5px;
  border-radius: 5px;

}

.footer_label{
padding: 10px;
}
.footer_input{
  border:none;
  padding: var(--padding);
  width: 20rem;
  border-radius: 5px;
}


 /* ---------------footer close here-------------*/

 /*------------- responsive start here -----------*/
@media (max-width: 992px) {
  .flax-space-around {
    flex-direction: column;
    gap:  1rem;
    padding: 1rem 0 ;

  }

  #menu-icon{
    display: block;
     text-align: center;
     margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .hidden{
    display: none;
  }

  .header{
    height: 100vh;
  }
  .products{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cart_item .cart_payment{
    width: 90%;
  }
}
 
@media (max-width: 768px) {
 .flex-center{
    flex-direction: column;
    gap:  1rem;
    padding: 1rem 0 ;

  }
  .products{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
 
@media (max-width: 600px) {
  
}

 /*------------- responsive  close here -----------*/
 

